@import "variables.scss";

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: $base-padding;
    box-shadow: $base-box-shadow;
    text-align: center;
    height: 100%;
}
