@import "variables.scss";

.nav-bar {
    background-color: $primary;
    display: flex;
    justify-content: start;
    width: 100%;
    box-shadow: $base-box-shadow;
    padding: $base-padding;
    position: relative;
    font-size:$base-font-size;
    color: $font-light;
    height: 70px;

    ul {
        display: flex;
        align-items: center;

        li {
            padding: $base-padding;
            color: $font-light;
        }
    }
}
